.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("../../../public/points-shop-bg.png") no-repeat center;
  background-size: cover;
  padding: 140px 20px 20px 20px;

  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}

.sectionHeader {
  display: flex;
  align-content: end;
  justify-content: end;
  padding: 30px;
}

.infoSecond {
  display: flex;
  gap: 20px;
  max-width: 1368px;
  margin: 0 auto;
  text-align: left;
  align-content: center;
  padding: 27px 30px;
  background: var(--secondary-color-dark-2);
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1028px) {
    flex-direction: column;
  }
}

.infoDescription {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  gap: 10px;

  h2 {
    color: var(--gold);
    font-size: var(--20px);
    font-weight: normal;
  }

  p {
    font-size: var(--16px);
    color: var(--grey-light);
    max-width: 574px;

    @media screen and (max-width: 768px) {
      font-size: var(--12px);
      font-weight: normal;
    }
  }
}

.infoSecondContainer {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
}

.sectionDescription {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1057px;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 768px) {
    gap: 20px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--secondary-color), var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 768px) {
      font-size: var(--50px);
    }
  }

  p {
    font-size: var(--20px);
    color: var(--white);
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: var(--20);
      text-transform: capitalize;
    }
  }
}

.metricPointsContent {
  display: grid;
  max-width: 1368px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

.limitedOfferContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: 1028px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

  }
}

.searchInner {
  max-width: 1368px;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-content: center;
  background: linear-gradient(to bottom, var(--secondary-color-dark-2), var(--secondary-color-dark));
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--secondary-color-dark);
  padding: 30px 40px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}

.searchbar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  color: var(--secondary-color);
  background: var(--secondary-color-dark-2);
  padding: 15px 0 15px 32px;
  border-radius: 25px;
  width: 466px;
  border: 1px solid var(--secondary-color-dark);

  input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: transparent;
    outline: none;
    color: var(--white);
    font-size: var(--20px);
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 5px 15px;
    border-radius: 15px;
  }
}

.filter {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  color: var(--secondary-color);

  p {
    font-size: 1.5rem;
    color: var(--secondary-color);

    @media screen and (max-width: 768px) {
      font-size: var(--14px);

    }
  }
}

.metricPoints {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;

  p {
    font-size: var(--20px);
    color: var(--white);
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: var(--14px);
      color: var(--grey-light);
    }
  }

  h2 {
    font-size: var(--20px);
    color: var(--white);
    font-weight: bold;

    @media screen and (max-width: 768px) {
      color: var(--white);
    }
  }
}

.metricPoints:nth-child(2),
.metricPoints:nth-child(3) {

  p {
    font-size: var(--24px);
    color: var(--gold);
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: var(--20px);
    }
  }
}

.metricImage {
  margin: 0 0 10px 0;
  display: flex;
  object-fit: contain;

  @media screen and (max-width: 768px) {
    width: 80px;
    height: auto;
  }
}

.searchOptions {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  select {
    padding: 18px 24px;
    border-radius: 25px;
    height: 100%;
    border: 1px solid var(--secondary-color-dark);
    background: var(--secondary-color-dark-2);
    color: var(--white);
    font-size: var(--20px);
    outline: none;

    @media screen and (max-width: 768px) {
      width: 50%;
      padding: 10px 15px;
    }
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-items: center;
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  background: url("../../../public/howl-bg.png") no-repeat center;
  background-size: cover;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 25px;
  padding: 50px;

  @media screen and (max-width: 1028px) {
    flex-direction: column;
    padding: 20px;
    width: 92%;
  }
}

.bannerLeft {
  width: 55%;
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: 100%;
    gap: 20px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--secondary-color);

    @media screen and (max-width: 768px) {
      font-size: var(--36px);
    }

    span {
      color: var(--white);
    }
  }

  p {
    font-size: var(--24px);
    color: var(--white);

    @media screen and (max-width: 768px) {
      font-size: var(--20px);
    }
  }

  h5 {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    color: var(--white);

    span {
      color: var(--gold);
    }

    @media screen and (max-width: 768px) {
      font-size: var(--20px);
      flex-direction: column;
    }
  }
}

.bannerButtons {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.howl {
  display: flex;
  width: 45%;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.howItWorksPoints {
  display: grid;
  padding: 40px 0;
  max-width: 1368px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  width: 100%;

  @media screen and (max-width: 1028px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

.howItWorksPoint {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  justify-content: center;

  align-items: center;
  text-align: center;
  max-width: 207px;

  p:first-child {
    font-size: var(--36px);
    border-radius: 55px;
    padding: 14px 27px;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--gold);
    border: 2px dashed var(--gold);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  }

  h3 {
    font-size: var(--20px);
    color: var(--white);
    font-weight: 500;
  }

  p:last-child {
    font-size: var(--14px);
    color: var(--grey-light);
  }
}