.button {
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  &.outlined {
    display: flex;
    gap: 10px;
    background-color: var(--quaternary-color);
    color: var(--white);
    font-size: var(--20px);
    border: 1px solid var(--secondary-color);
    border-radius: 55px;
    padding: 15px 50px;
    font-weight: 700;

    &:hover {
      background-color: var(--tertiary-color);
    }

    @media screen and (max-width: 1180px) {
      &.outlined {
        padding: 7px 30px;
        height: 100%;
        font-size: var(--14px);
      }
    }
  }

  &.orange-outlined {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color-dark-2);
    color: var(--white);
    font-size: var(--20px);
    border-radius: 55px;
    padding: 20px;
    width: 100%;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 999;
    box-shadow: 0px 2px 6px rgb(246, 102, 41);

    &:hover {
      opacity: 0.8;
    }
  }

  &.orange-full-width {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: var(--20px);
    border-radius: 55px;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 999;
    box-shadow: 0px 2px 6px rgb(246, 102, 41);

    &:hover {
      background: var(--secondary-color-light);
    }
  }

  &.orange {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: var(--20px);
    border-radius: 55px;
    padding: 20px 75px;
    width: fit-content;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 999;
    box-shadow: 0px 2px 6px rgb(246, 102, 41);

    &:hover {
      background: var(--secondary-color-light);
    }

    @media screen and (max-width: 468px) {
      &.orange {
        padding: 15px 25px;
        font-size: var(--16px);
      }

    }
  }

  &.orange-non-centered {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: var(--20px);
    border-radius: 55px;
    padding: 20px 75px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    width: fit-content;
    z-index: 999;

    &:hover {
      background: var(--secondary-color-light);
    }
  }

  &.orange-non-centered-small {
    display: flex;
    gap: 10px;
    background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-dark));
    color: var(--white);
    font-size: var(--16px);
    border-radius: 55px;
    padding: 15px 20px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    z-index: 999;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    &:hover {
      opacity: 0.7;
    }
  }

  &.orange-small {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: var(--14px);
    border-radius: 55px;
    padding: 11px;
    width: 100%;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 999;
    box-shadow: 0px 1px 3px rgb(246, 102, 41);

    &:hover {
      background: var(--secondary-color-light);
    }
  }

  &.red {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color-dark);
    border: 1px solid var(--secondary-color);
    color: var(--white);
    font-size: var(--20px);
    border-radius: 55px;
    padding: 15px 45px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    width: fit-content;
    z-index: 999;

    &:hover {
      opacity: 0.8;
    }
  }
}