.clashcasino {
  background: url("../../../public/clashcasino-bg.png") no-repeat center;
  background-size: cover;
  padding: 120px 0 120px 0;
  gap: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sectionHeader {
  display: flex;
  align-content: end;
  justify-content: end;
  padding: 30px;
}

.article{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
  text-align: start;

  @media screen and (max-width: 768px) {
    font-size: 14px;

    ul{
      display: flex;
      flex-direction: column;
      gap: 10px;

      li{
      }
    }
  }
}

.pTitle{
  font-size: 18px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.redText {
  color: red;
}

.clashcasinoContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1032px;
  margin: 0 auto;
  text-align: center;
  align-content: center;

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--64px);
    color: var(--gold);
    display: flex;
    gap: 10px;

    span {
      color: var(--white);
    }
  }

  h4 {
    color: var(--white);
    font-size: var(--20px);
    text-transform: uppercase;
  }

  h2 {
    font-size: var(--64px);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--gold), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: var(--24px);
    max-width: 650px;
    margin: 0 auto;
  }
}

.code {
  display: flex;
  padding: 20px 160px;
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  background: var(--secondary-color-dark-2);
  color: var(--white);
  border: 1px solid var(--secondary-color-dark);
}

@media screen and (max-width: 1080px) {

  .clashcasino{
    padding: 40px 0 80px 0;
  }

  .clashcasinoContent {
    gap: 20px;
    text-align: center;
    padding: 0 10px;

    .code {
      max-width: 400px;
      width: 100%;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }

    h1 {
      font-size: var(--24px);
      margin: 0 auto;
    }

    h2 {
      font-size: var(--64px);
    }

    p {
      font-size: var(--16px);
    }
  }
}
