.title {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  text-align: center;
  align-content: center;

  h2 {
    display: flex;
    gap: 20px;
    font-weight: bold;
    color: var(--white);
    margin: 0 auto;
    font-size: var(--64px);
    text-transform: uppercase;

    span {
      color: var(--secondary-color);
    }
  }

  &.column {
    @media screen and (max-width: 768px) {
      h2 {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1028px) {
  .title {
    gap: 20px !important;
    margin: 15px 0 !important;

    h2 {
      gap: 10px !important;
      font-size: var(--36px) !important;
    }
  }
}