.leaders {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.leaderWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--secondary-color-dark);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }
}

.tableLore {
  display: flex;
  padding: 20px 50px 20px 20px;
  justify-content: space-between;

  span {
    display: flex;
    gap: 30px;
    font-size: var(--20px);
  }

  span:last-child {
    background: linear-gradient(to right, var(--secondary-color), var(--gold));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: var(--24px);
    text-shadow: 0 0 1px var(--gold), 0 0 5px var(--secondary-color);
  }
}

.leadersContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 1028px) {

  .leaders {
    width: 1368px;
  }

  .leaderWrapper {
    display: flex;
    padding: 15px;
    flex-direction: column;
    overflow: auto;
  }

}
