.leaders {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.tableLore {
  display: flex;
  padding: 20px;
  justify-content: space-between;

  span {
    display: flex;
    gap: 30px;
    font-size: var(--20px);
  }

  span:last-child {
    background: linear-gradient(to right, var(--secondary-color), var(--gold));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: var(--24px);
  }
}

.leadersContent{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
