.wrapper {
  display: flex;
  flex-direction: column;
  padding: 150px 60px;
  background: url("../../../public/account-bg.png") no-repeat center;
  background-size: cover;
  gap: 70px;

  @media screen and (max-width: 1028px) {
    padding: 30px 15px;
  }
}

.accountItem {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.accountItemCredentials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accountWallet {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  gap: 10px;
  color: var(--gold);
  font-weight: bold;
}

.account {
  display: flex;
  flex-direction: column;
  padding: 70px 40px;
  height: auto;
  width: 100%;
  gap: 50px;
  background: linear-gradient(to bottom, var(--senary-color), var(--secondary-color-dark-2));
  border: 1px solid var(--secondary-color-dark);
  border-radius: 25px;
  margin: 0 auto;
  max-width: 914px;

  @media screen and (max-width: 1028px) {
    padding: 30px 15px;
  }
}

.user {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.userCredentials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;

  h2 {
    font-size: var(--32px);
    display: flex;
    gap: 10px;
    flex-direction: column;

    span {
      font-size: var(--12px);
      background-color: var(--secondary-color);
      padding: 3px 15px;
      font-weight: normal;
      width: fit-content;
      border-radius: 55px;
    }
  }

  p {
    font-size: var(--16px);
    color: var(--grey);

  }
}

.options {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1028px) {
    flex-direction: column;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;

  @media screen and (max-width: 1028px) {
    width: 100%;
  }
}

.icon {
  font-size: var(--24px);
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.input {
  display: flex;
  padding: 15px 30px;
  border-radius: 55px;
  gap: 20px;
  border: 1px solid var(--secondary-color-dark);
  background: var(--secondary-color-dark-2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  input {
    background: none;
    color: var(--white);
    font-size: var(--16px);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--grey);
    }

  }

  &:hover {
    border: 1px solid var(--secondary-color);
  }
}

.optionButtons {
  width: 40%;
  display: flex;
  padding: 40px 30px;
  background: linear-gradient(to bottom, var(--secondary-color-dark-transparent), var(--secondary-color-dark-2));
  height: 100%;
  flex-direction: column;
  border-radius: 25px;
  gap: 30px;

  @media screen and (max-width: 1028px) {
    width: 100%;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 300px auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: var(--secondary-color-dark-2);
  padding: 20px;
  border-radius: 10px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 20px;
  align-content: center;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;

  p {
    font-size: var(--20px);
    color: var(--grey);
  }
}

.popupInput {
  display: flex;
  padding: 10px 20px;
  border-radius: 12px;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  justify-items: center;
  align-items: center;
  background: var(--senary-color);

  button {
    font-size: var(--24px);
    border-radius: 5px;
    background: var(--secondary-color-dark-2);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: var(--white);
    transition: 0.2s all ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
