.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 70px;
  background: var(--tertiary-color-light);
}

@media screen and (max-width: 1180px) {
  .main {
    gap: 10px;
  }

}