.quickLinks{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;

  h2{
    color: var(--white);
    font-size: var(--64px);
    font-weight: bold;
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;

    span{
        color: var(--secondary-color);
    }
  }
}

.quickLinksContent{
  padding: 0 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1368px;
  margin: 0 auto;
}

@media screen and (max-width: 1028px) {
  .quickLinksContent{
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .quickLinksContent{
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

