.video {
  max-height: 366px;
  display: flex;
  flex-direction: column;
  max-width: 264px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nickname {
  display: flex;
  color: var(--gold);
  align-content: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.videoContent:first-child {
  height: 208px;
  display: flex;
  border-radius: 25px 25px 0 0;
  padding: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  gap: 10px;
  color: var(--gold);
  font-weight: bold;

  @media screen and (max-width: 768px) {
    height: 153px;
    width: 100%;
  }
}

.videoContent:last-child {
  height: 160px;
  padding: 20px;
  background: var(--secondary-color-dark-2);
  border: 1px solid var(--secondary-color);
  border-top: none;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 25px 25px;
  gap: 10px;

  @media screen and (max-width: 768px) {
    height: fit-content;
  }

  p:first-child {
    font-size: var(--20px);
    text-transform: lowercase;
    color: var(--white);

    @media screen and (max-width: 768px) {
      font-size: var(--14px);
    }
  }

  p:last-child {
    font-size: var(--14px);
    color: var(--secondary-color);

    @media screen and (max-width: 768px) {
      font-size: var(--12px);
    }
  }
}

@media screen and (max-width: 768px) {
  .video{
    max-height: 230px;
  }
}