.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background: var(--secondary-color-dark-transparent);

  button {
    display: flex;
    color: var(--white);
    font-size: var(--32px);
    border-radius: 55px;
    padding: 5px;
    border: 3px solid var(--white);
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      border: 3px solid var(--secondary-color);
      color: var(--secondary-color);
    }
  }
}

.sliderContent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.sliderImage {
  display: flex;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}