.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  background: var(--secondary-color-dark-transparent);
  position: relative;
  overflow: hidden;

  .arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: var(--32px);
    border-radius: 50%;
    padding: 10px;
    border: 3px solid var(--white);
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      border-color: var(--secondary-color);
      color: var(--secondary-color);
    }

    @media screen and (max-width: 768px) {
      font-size: var(--16px);
      border: 2px solid var(--white);
    }
  }
}

.sliderContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 478px) {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #fff;
  font-size: 1.5rem;
}

.containerLoader {
  gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.loader {
  border: 12px solid var(--senary-color);
  border-radius: 50%;
  border-top: 12px solid var(--secondary-color);
  width: 65px;
  height: 65px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sliderTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.sliderItem {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
  width: 130px;
}

.imageItem{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.sliderImage {
  object-fit: contain;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 75px;
  border: 1px solid transparent;
  transition: transform 0.2s ease-in-out;


  &:hover {
    transform: scale(1.1);
  }

}
