.sliderContainer {
  position: relative;
  display: none;
  width: 100%;
  overflow: hidden;
  touch-action: pan-x;
  z-index: 999;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #2f0606;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover {
  background-color: #e4571b;
}

.activeDot {
  background-color: #e4571b;
}

@media screen and (max-width: 1028px) {
  .sliderContainer {
    display: block;
  }
}
