.alert {
  position: fixed;
  top: 1%;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%);
  background-color: var(--quaternary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out, slideOut 0.5s ease-out 2.5s;
  z-index: 1000;
}

.alertContent {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  span{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -100%);
  }
}