.descriptionWrapper{
  display: flex;
  flex-direction: column;
  margin: 120px auto;
  max-width: 1140px;
  gap: 10px;
  height: fit-content;

  h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark-grey);
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

  }

  p {
    font-size: 16px;
    text-align: justify;
    width: 100%;
  }
}

.subDescription {
  margin-top: 20px;
  padding: 10px;
}

.subDescription h2 {
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  font-size: 24px;
  color: var(--dark-grey);
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.subDescription p {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-content: start;
  text-align: left;
}

.listItem{
  font-size: 16px;
  color: var(--grey-darker);
  margin: 10px 0;
}

@media screen and (max-width: 1024px) {
  .descriptionWrapper{
    margin: 45px auto 25px auto;
    padding: 20px;
  }

}