.latestVideos {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h2 {
    display: flex;
    text-transform: uppercase;
    font-size: var(--64px);
    color: var(--white);
    gap: 10px;
    text-align: center;
    margin: 0 auto;

    span {
      color: var(--secondary-color);
    }
  }
}

.latestVideosContent{
  max-width: 1368px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1028px) {
  .latestVideosContent {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .latestVideos{
    padding: 15px;
  }

  @media screen and (max-width: 1028px){
    .latestVideosContent{
      display: none;
    }
  }

}