.welcomeSection {
  background: url("../../../public/welcome-bg.png") no-repeat center;
  background-size: cover;
  padding: 120px 0 120px 0;
  position: relative;
}

.sectionHeader {
  display: flex;
  align-content: end;
  justify-content: end;
  padding: 30px;
}

.sectionContent {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  font-weight: 800;
  align-content: center;
  justify-content: center;
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  text-align: center;

  h1 {
    font-size: 8rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, var(--secondary-color), var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  }

  h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 6rem;
  }

  h3 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 5rem;
  }

  p {
    margin: 40px 0;
    color: var(--white);
    font-size: var(--20px);
  }
}

.gunImage {
  position: absolute;
  right: 0;

}

.giftImage {
  position: absolute;
  left: 5%;
}

@media screen and (max-width: 1028px) {
  .sectionContent {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 3rem;
    }

    p {
      font-size: var(--16px);
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .gunImage {
    width: 116px;
    height: auto;
  }

  .giftImage {
    width: 134px;
    height: auto;
  }

  .sectionContent {
    h1, h2, h3 {
      font-size: var(--32px);
    }

    p {
      font-size: var(--16px);
      padding: 0 20px;
      font-weight: 500;
    }
  }
}