.countdown {
  display: flex;
  max-width: 446px;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  gap: 20px;
  z-index: 999;
}

.timeContainer {
  background: linear-gradient(to bottom, var(--secondary-color-dark-2), var(--secondary-color-dark));
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  border: 1px solid var(--secondary-color-dark-2);
  gap: 20px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:first-child{
   background: var(--secondary-color-dark-2);
    border: 1px solid var(--secondary-color);
  }

  &:last-child{
    width: 86px;
  }

  &:hover{
    background: var(--tertiary-color);
    border: 1px solid var(--secondary-color-dark-2);
  }

  span{
    font-weight: bold;
    font-size: var(--32px);
  }

  @media screen and (max-width: 768px) {
    padding: 12px 20px;
    gap: 10px;
    font-size: var(--16px);

    span{
      font-weight: bold;
      font-size: var(--20px);
    }
  }
}

.countdown {
  display: flex;
  gap: 10px;
}

.timeContainer.active {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
